@using MVCCodeFirst.Models
@model Ders

<b>Ders adı:</b> @Model.DersAdi
<br/>
<b>Açıklama:</b> @Model.Aciklama
<p>
    --------------------------------
</p>
<b>@Html.DisplayNameFor(x=>x.DersAdi) :</b> @Model.DersAdi
<br/>
<b>@Html.DisplayNameFor(x=>x.Aciklama) :</b> @Model.Aciklama